@import '../colors';

.sidebar {
  width: 250px;
  height: 100%;

  background-color: $sidebar-background;

  padding: 30px 0;
  position: fixed;
}

.item__block {
  padding: 15px 60px;
}

.item__block:hover {
  background-color: $item-background-color-hover;

  width: 80%;

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.item__block:hover .sidebar__item {
  font-size: 16px;
  font-weight: 600;
  color: $item-color-hover;
}

.sidebar__item {
  color: $item-color;
  display: block;
  text-decoration: none;
}